<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ title }} | {{ site.title }}</title>
<meta name="description" content="{{ description }}">
<script src="/assets/js/theme-init.js"></script>
<link rel="stylesheet" href="/assets/css/stylesheet.css">
<link rel="stylesheet" href="/assets/css/dog-of-the-day.css">
