<header data-pagefind-ignore>
    <nav aria-label="Main navigation">
        <hgroup>
            <p><a href="/">{{ site.author }}</a></p>
            <p>UCSD Student | Web Developer | Game Developer</p>
        </hgroup>

        <ul>
            {% for item in site.navigation %}
                <li>
                    <a href="{{ item.url }}"
                       {% if page.url == item.url or (item.url != "/" and item.url in page.url) %}aria-current="page"{% endif %}>
                        {{ item.label }}
                    </a>
                </li>
            {% endfor %}
        </ul>

        <form id="theme-picker" hidden>
            <label for="theme">Theme</label>
            <select id="theme" name="theme">
                <option value="system">System</option>
                <option value="light">Light</option>
                <option value="dark">Dark</option>
            </select>
        </form>
    </nav>
</header>
