---
layout: layouts/base.njk
title: About
description: Learn why Christine Oswald created this portfolio, along with her background, interests, and development goals.
permalink: /about/
---
<h1 id="about-header">About</h1>

<section>
    <h2>Why I Made This Site</h2>
    <p>I created this site to highlight myself as a work candidate in terms of my acquired skills, projects, experience, and more.</p>
    <p>However, I also wanted to use this site as a log to document the step-by-step and daily workings and behind-the-scenes insight of the many projects I'm currently working on.</p>
</section>

<section>
    <h2>Background</h2>
    <p>I am currently developing my skills in HTML, CSS, JavaScript, and web design. Through my different courses, projects, and interests, I am learning how websites are structured, how browsers work, and how to structure pages to be clear, concise, and accessible to all.</p>
</section>

<section>
    <h2>Interests</h2>
    <p>Within the realm of technology, I am interested in game development, front-end designs, and end-client interactions.</p>
    <p>Outside of these interests, I also learn different crafts such as sewing, crocheting, cooking, and more.</p>
</section>

<section>
    <h2>Goals</h2>
    <p>My goal is to grow as a developer and gain experience doing a multitude of projects such as building websites and/or games.</p>
</section>

<section>
    <h2>Quick Facts</h2>
    <ul>
        <li>Student at UC San Diego</li>
        <li>Interested in Web Development and Game Development</li>
        <li>Learning HTML, CSS, JavaScript, and Web Fundamentals</li>
        <li>Looking to grow through <em>projects</em>, <em>internships</em>, and <em>professional endeavors</em>.</li>
    </ul>
</section>
